@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3;
  }
  h2 {
    @apply font-bold text-xl my-6;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-base: yellow;
      --color-text-muted: lightblue;
      --color-fill: black;
      --color-button-accent: grey;
      --color-button-hover: red;
    }
  }

  :root {
    --color-text-base: blue;
    --color-text-muted: lightblue;
    --color-fill: yellow;
    --color-button-accent: purple;
    --color-button-hover: red;
  }

  [data-theme="dark"] {
    --color-text-base: yellow;
    --color-text-muted: lightblue;
    --color-fill: black;
    --color-button-accent: grey;
    --color-button-hover: red;
  }
}
